<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rock, Paper, and Scissors model instruction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This application is an implementation of model that classifies hand gestures of Rock, Paper, and Scissors
          captured by a webcam.</p>
        <p>All data captured by the webcam IS NOT SENT to the server and DOES NOT LEAVE your computer. All calculations
          take place in your browser, so usage is completely CONFIDENTIAL.</p>
        <p>To use the application you should follow these steps:</p>
        <ol>
          <li>Make sure the camera is working and you can see the image on the screen</li>
          <li>Make at least 30 pictures of each gesture by pressing the corresponding button</li>
          <li>Press "Train Network" button to train model</li>
          <li>Once training is complete, click 'Start Predicting' to see predictions, and 'Stop Predicting' to end</li>
        </ol>
        <p>Note: It can be a bit tricky to train a model well. So, don't get frustrated if you don't get it right the first time. </p>
      </div>
    </div>
  </div>
</div>
